@import 'bootstrap';

body {
  color: white;

  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  padding: 10px 0 0 10px;
}

.pad-container {
  padding: 10px!important;
  height: calc(5vw + 10vh);
}

.drum-pad {
  height: 100%;
  width: 100%;
  display: block;
  font-size: 25px;
  background: rgba($color: #000000, $alpha: .1);
  color: white;
  box-shadow: 0 0 4px #999;
  
  background-position: center;
  transition: background 0.4s;
  outline: none!important;
}

.active {
  background-color: rgb(0, 136, 221);
  background-size: 100%;
  transition: background .2s ease-in-out ;
}

